body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: rgb(109, 79, 79);
  margin: 0;
  padding: 0;
}

.header,
.hero-section,
.footer {
  background-color: rgb(66, 3, 3);
}

.logo {
  font-size: 24px;
  padding-left: 52px;
  font-weight: 500;
}

.hero-title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  width: 400px;
}

.subtext {
  font-size: 18px;
  color: #e5e7eb;
  width: 400px;
}

.signup-btn {
  background-color: #f9faf8;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
}

.hero-section img {
  width: 300px;
  height: auto;
}

.quote {
  background-color: #e5e7eb;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

.header {
  display: flex;
  flex-direction: row;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0;
}

.hero-section {
  display: flex;
  flex-direction: row;
  padding: 50px;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
